---
import FastAPI from "./icons/FastAPI.astro"
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import PostGIS from "./icons/PostGIS.astro"
import Flask from "./icons/Flask.astro"
import MySQL from "./icons/MySQL.astro"
import Docker from "./icons/Docker.astro"
import Streamlit from "./icons/Streamlit.astro"
import WordPress from "./icons/WordPress.astro"
import HtmlCss from "./icons/HtmlCss.astro"
import PyQGIS from "./icons/PyQGIS.astro"
import Python from "./icons/Python.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#3776ab] text-white",
    icon: Python,
  },
  FASTAPI: {
    name: "FastAPI",
    class: "bg-[#009688] text-white",
    icon: FastAPI,
  },
  POSTGIS: {
    name: "PostGIS",
    class: "bg-[#336791] text-white",
    icon: PostGIS,
  },
  PYQGIS: {
    name: "PyQGIS",
    class: "bg-[#93c47d] text-white",
    icon: PyQGIS,
  },
  FLASK: {
    name: "Flask",
    class: "bg-[#000000] text-white",
    icon: Flask,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#00758f] text-white",
    icon: MySQL,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-[#0db7ed] text-white",
    icon: Docker,
  },
  STREAMLIT: {
    name: "Streamlit",
    class: "bg-[#ff4b4b] text-white",
    icon: Streamlit,
  },
  WORDPRESS: {
    name: "WordPress",
    class: "bg-[#21759b] text-white",
    icon: WordPress,
  },
  HTMLCSS: {
    name: "HTML/CSS",
    class: "bg-[#e44d26] text-white",
    icon: HtmlCss,
  },
}
const PROJECTS = [
  {
    title: "Playas Limpias - Plataforma geoespacial para gestión ambiental",
    description:
      "Sistema para identificar responsabilidades en la limpieza de playas afectadas por residuos acuícolas. Tecnología geoespacial moderna y backend robusto.",
    github: "https://github.com/Traukit0/playas-limpias",
    image: "/projects/playas_limpias.webp",
    tags: [TAGS.PYTHON, TAGS.FASTAPI, TAGS.POSTGIS],
    link: undefined,
  },
  {
    title: "QGIS Plugin - Análisis INFA - Herramienta oficial en uso por SERNAPESCA",
    description:
      "Plugin de QGIS para análisis remoto de inspecciones ambientales en centros de cultivo. Utilizado institucionalmente por el equipo ambiental de SERNAPESCA.",
    github: "https://github.com/Traukit0/analisis_infa",
    image: "/projects/plugin_infa.webp",
    tags: [TAGS.PYTHON, TAGS.PYQGIS],
  },
  {
    title: "AcuiGestor - Sistema de gestión de inspecciones acuícolas",
    description:
      "Plataforma en desarrollo para registrar y visualizar fiscalizaciones a centros de cultivo. Arquitectura moderna y basada en contenedores.",
    github: "https://github.com/Traukit0/CONSULTA-CENTROS",
    image: "/projects/acuigestor.webp",
    tags: [TAGS.FLASK, TAGS.MYSQL, TAGS.DOCKER],
  },
  {
    title: "IMG to KMZ - Visualización rápida de fotos georreferenciadas",
    description:
      "App para convertir imágenes con coordenadas en archivos KMZ compatibles con Google Earth.",
    github: "https://github.com/Traukit0/img-to-kmz",
    image: "/projects/imgtokmz.webp",
    tags: [TAGS.PYTHON, TAGS.STREAMLIT],
  },
  {
    title: "Sitio Web Asociación COFRA - Diseño y mantenimiento de sitio institucional",
    description:
      "Planificación, ejecución y soporte del sitio web de la Asociación de Funcionarios de SERNAPESCA. Implementado con WordPress y Elementor, actualmente en línea.",
    link: "https://www.cofraloslagos.cl/",
    image: "/projects/cofra.webp",
    tags: [TAGS.WORDPRESS, TAGS.HTMLCSS],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex items-center gap-x-1.5 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4 shrink-0" />
                <span class="leading-none translate-y-[0.5px]">{tag.name}</span>
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



